
<!-- <div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div> -->
<!-- edit nome bottone e tutto cio che e collegato quando viene clickatto -->

<app-hero-detail [hero]="selectedHero"></app-hero-detail> 

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
     <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">  <!-- il bottone contiene due proprieta id e name  piu il bottone selezionato prendere la classe selezionata -->
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>
